@import	url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&family=Roboto&display=swap");

@import	url("components/container.css");

@import	url("components/button.css");

@import	url("components/banner.css");

@import	url("components/card.css");


body	{
	font-size: 18px;
	font-family: Roboto; 
	margin: 0px;
}

h1,h2,h3	{
	font-size: 32px;
}